@charset "utf-8";
/* body */
.body{
  margin-top: 100px;
}
.body-title p{
  font-size: 34px;
  line-height: 161px;
}

.body-content ul{
  display: flex;
}
.body-content ul li{
  flex: 1;
}
.body-content ul li h3{
  font-size: 20px;
  margin-top: 20px;
}