@charset "utf-8";
/* body */
/* body-nav */
.body-nav{
  width: 100%;
  margin-top: 100px;
}
.body-nav ul{
  margin-top: 19px;
}
.body-nav ul li{
  display: inline-block;
  float: left;
  margin-right: 18px;
  font-size: 16px;
}
.body-nav ul li a{
  color: #8F8F8F;
}
.body-nav ul li span{
  color: #CCCCCC;
  font-size: 12px;
}
.body-nav ul li a h4{
  color: black;
}
/* body-nav end! */
/* body-title */
.body-title{
  width: 100%;
}
.body-title p{
  font-size: 32px;
  line-height: 100px;
}
/* 选项卡 */
.mt-tabpage {
	background-color: #FFFFFF;
}
.mt-tabpage-title {
	width: 100%;
	height: 44px;
	font-size: 0;
	background-color: #fff;
	background: #fff;
	color: #333333;
}
.mt-tabpage-title .mt-tabpage-item {
	display: inline-block;
	width: 105px;
	/* height: 44px; */
	line-height: 44px;
	text-align: center;
	color: #666;
	font-size: 12px;
}
.mt-tabpage-title .mt-tabpage-item-cur {
	color: #A0A0A0;
	font-size: 14px;
	border-bottom: 5px solid #4B1E78;
	margin-top: -1px;
}
.mt-tabpage-count {
	position: relative;
	/* width: 1200px; */
	height: 1485px;
	overflow: hidden;
}
.mt-tabpage-cont__wrap {
	position: absolute;
}
.mt-tabpage-count .mt-tabpage-item {
	width: 1200px;
}
.line{
	width: 100%;
	height: 2px;
	background-color: #D6D4D4;
	margin-top: 4px;
}
/* 选项卡 end! */